<?xml version="1.0" encoding="utf-8"?>
<AppInstaller
  xmlns="http://schemas.microsoft.com/appx/appinstaller/2018"
  Version="{{VERSION}}"
  Uri="{{APPINSTALLER_URI}}">
  <MainBundle
    Name="Pancakecurry.Glass"
    Publisher="{{PUBLISHER}}"
    Version="{{VERSION}}"
    Uri="{{BUNDLE_URI}}" />
  <UpdateSettings>
    <OnLaunch HoursBetweenUpdateChecks="8" />
    <AutomaticBackgroundTask />
  </UpdateSettings>
</AppInstaller>
